<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data Mahasiswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of dataMahasiswa">
    <ion-item>
      <ion-label>
        <h2>{{ item.nama }}</h2>
        <p>{{ item.jurusan }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="hapusMahasiswa(item.id)">Hapus</ion-button>
        <ion-button (click)="open_modal_edit(true, item.id)">Edit</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-button (click)="open_modal_tambah(true)" expand="full" fill="solid">Tambah Mahasiswa</ion-button>
  </ion-card>

  <!-- Modal Tambah Mahasiswa -->
  <ion-modal [isOpen]="modal_tambah">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Batal</ion-button>
          </ion-buttons>
          <ion-title>Tambah Mahasiswa</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Nama Mahasiswa</ion-label>
          <ion-input [(ngModel)]="nama" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Jurusan Mahasiswa</ion-label>
          <ion-input [(ngModel)]="jurusan" type="text"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button (click)="tambahMahasiswa()" color="primary" expand="full">Tambah Mahasiswa</ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Modal Edit Mahasiswa -->
  <ion-modal [isOpen]="modal_edit">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Batal</ion-button>
          </ion-buttons>
          <ion-title>Edit Mahasiswa</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Nama Mahasiswa</ion-label>
          <ion-input [(ngModel)]="nama" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Jurusan Mahasiswa</ion-label>
          <ion-input [(ngModel)]="jurusan" type="text"></ion-input>
        </ion-item>
        <ion-input [(ngModel)]="id" type="hidden"></ion-input>
        <ion-row>
          <ion-col>
            <ion-button (click)="editMahasiswa()" color="primary" expand="full">Edit Mahasiswa</ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
